/* ESTILOS GENERALES */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --degrad: radial-gradient(rgba(255,255,255,.4) 60%, rgba(255,255,255,.7));
}

body
{
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.container
{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    /* background-color: red; */
}

/* ENCABEZADO */

.header
{
    background-color: whitesmoke;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.header .navBar
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .navBar .logo
{
    display: flex;
    padding-top: .5rem;
    align-items: center;
    width: 80px;
    /* padding: .2rem 0; */
}
.header .navBar .logo h2
{
    position: relative;
    top: -5px;
    font-family: 'Oswald', sans-serif;
}
.header .navBar .logo img
{
    width: 50%;
    /* top: 5px; */
    max-width: 100px;
    min-width: 80px;
    object-fit: contain;
}

.listSections
{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.listSections li
{
    width: 50%;
    max-width: 120px;
    padding: .8rem;
    margin: .3rem;
    align-content: center;
    background-color: var(--degrad);
}

.listSections li a
{
    text-decoration: none;
    text-align: center;
    color: green;
    font-size: 1.3rem;
}

.listSections li a:hover{
    transition: all .3s ease;
    color: indigo;
}

/* ----------------CUERPO------------------ */

/* Banner & News-SLider*/
.slider
{
    background-color: #f2f2f2;
    padding: 40px 0;
}

.slider .slider-container
{
    width: 90%;
    min-height: 80vh;
    max-width: 1200px;

    margin: 0 auto;
    overflow: hidden;

    display: grid;
    grid-template-columns: 50px 1fr 50px;

    align-items: center;
    gap: 1em;
}

.slider-body
{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;

    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    pointer-events: none;
}

.show
{
    opacity: 1;

    pointer-events: unset;
}

.slider-img
{
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.slider-text
{
    max-width: 600px;

}

.slider-text .subtittle
{
    font-size: 2.5rem;
    margin-bottom: 3rem;

    text-decoration: none;
    color: black;
    /* animation: normal 3s ease; */
}

.slider-text .subtittle:hover
{
    color: rgba(0, 0, 0, .6);
}


.slider-text p
{
    font-weight: 300px;
    font-size: 20px;
    line-height: 1.7rem;
}

.slider-arrow
{
    cursor: pointer;
}

.slider-arrow:nth-of-type(2)
{
    justify-self: end;
}


/* Unidades y recursos */

.units
{
    padding: 2rem 0; /* Con esto se separara las celdas del banner anterior */

    /* background-color: #B83100; */
    /* background-color: #8A888A; */
}

.grid-container
{
    width: 90%;
    margin: 0 auto;

    /* Propiedad para volver una caja a una cuadricula */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.grid-container .cellGrid
{
    position: relative; /* Propiedad necesaria del padre para que el hijo pueda posicionarse respecto de el */
    width: 80%;
    height: 300px;

    box-shadow: 0 0 1rem ; /* Propiedad para darle sombra a la caja */
    border-radius: 1.8rem;
    margin: 0 auto; /* Asi se posicionara en el medio de la celda */

    background-color: #90ACB0;
}

.grid-container .cellGrid .overlay
{
    width: 100%;
    height: 100%;
    padding: 2rem;

    border-radius: 1.8rem; /* Borde contorneado*/
    background-color: rgba(0, 0, 0, .7);

    position: absolute; /* Con esta propiedad, el elemento toma de referencia el elemento-padre para posicionarse respecto de el */
    top: 0; /* Por ejemplo, aca dice que la distancia de su limite, con el limite superior (top) del padre sera de 0 */

    opacity: 0; /* Sera invisible a menos que el usuario pase el mouse por ahi */
    transition: all .3s ease; /* Propiedad para la transicion de la aparicion del hover */
}

.grid-container .cellGrid img
{
    width: 100%;
    height: 100%;
    border-radius: 1.8rem;
    object-fit: cover;
}

.grid-container .cellGrid .overlay .txt
{
    color: white; /*   Color de letra del hover*/
}

.grid-container .cellGrid .overlay:hover
{
    opacity: 1; /* Cuando el usuario pase el mouse, el hover sera visible */
}

/* FOOTER */
.footer
{
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #C0EDB7;
}

.footer .contactos, .footer .acercaDe
{
    width: 40%;
}

.footer .acercaDe p
{
    font-weight: 3rem;
}

.footer .contactos
{
    height: min-content;
    display: flex;
    flex-wrap: wrap;
}

.footer .contactos p
{
    margin-right: 1.5rem;
}

.footer .contactos p span
{
    font-size: 1.3rem;
}

.footer .contactos p:nth-last-child(1)
{
    margin-top: 1rem;
}

.footer .contactos .linksContainer
{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.footer .contactos .linksContainer a
{
    color: rgba(0, 0, 0, 1);
}

.footer .contactos .linksContainer a:hover
{
    color: rgba(255, 255, 255, .9);
}



